:root{
    --bg-color: #f2f2f2;
    --cont-bg-color:#fff;
    --hover-side-menu:#f8f8f8;
    --nav-text-color:#a49f9f;
    --bshadow-color: #323131;
    --tr-hover-color:#B51313;
    --light-gray: #515151;
    --proj-text-color:#000;
    --primary-button: rgb(13, 110, 253);
    --primary-button-hover: rgb(12, 90, 250);
    --input-focus: rgb(105, 148, 235);
}